*{
    margin:0px;
    padding:0px;
}


:root{
    --font-space-mono:'Space Mono', monospace;


    --primary-color:hsl(172, 67%,45%);
    --very-dark-cyan:hsl(183,100%,15%);
    --dark-grayish-cyan:hsl(184,14%,43%);
    --dark-grayish-cyan-second:hsl(184,14%,56%);
    --light-grayish-cyan:hsl(185,41%,84%);
    --light-grayish-cyan-secong:hsl(189,41%,97%);
    --white:hsl(0,0%,100%);
    --placeholder: '$';
}
body{
    height: 100%;
    background-color: var(--light-grayish-cyan);
    font-family: var(--font-space-mono);
}
.header-section h1{

    font-size: 20px;
    font-weight: 700;
    color: var(--very-dark-cyan);
}
.header-section{
    align-items: center;
    text-align: center;
    padding-top: 10%;
}
.main-container{
    background-color: var(--white);
   
    margin:5% 25%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}
.column{
    
    margin:1em;
    width:100%;
}
.button-container{
    display:block;
    float:left;
}
.button-container button{
    width: 70px;
    height: 40px;
    border-radius:10px;
    border:none;
    font-family: var(--font-space-mono);
    font-weight: 700;
    background-color: var(--very-dark-cyan);
    color:white;
    font-size:14px;
    cursor:pointer;
}
.custom-textbox{
    width: 70px;
    height: 40px;
    border:none;
    border-radius: 10px;
    
}
.column p, button{
    margin:10px 0;
    font-size:14px;
}
.column button:hover{
    background-color: var(--dark-grayish-cyan-second);
}
input{
    margin: 0;
    outline-color: var(--light-grayish-cyan);
    height:30px;
    width:100%;
    border-radius: 5px;
    border:none;
    font-family: var(--font-space-mono);
    font-size:18px;
    font-weight:700;
    background-color: var(--light-grayish-cyan-secong);
    text-align: right;
    cursor:pointer;
    padding-right: 7px;
    
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
input:placeholder{
    font-size: 18px;
    text-align: left;;
}

.bg-column{
    background-color: var(--very-dark-cyan);
    padding:15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.heading-price{
    display:flex;
    flex-direction: row;
    margin-left:10px;
}
.heading-price h3{
    color:var(--white);
    font-size:14px;
    text-align: left;
    margin-right:15px;
    margin-bottom:0px;
}
#person-heading{
    margin-top:0;
    color:var(--light-grayish-cyan);
    font-weight: 500;
    font-family: var(--font-space-mono);
    font-size:11px;
}
.title-container{
    display: flex;
    flex-direction: column;

}
.title-container p{
    color: var(--dark-grayish-cyan-second);
}
.bg-column button{
    margin-top:80%;
    border:none;
    height:30px;
    font-family: var(--font-space-mono);
    background-color: var(--dark-grayish-cyan);
    color:var(--white);
    border-radius: 10px;
    cursor:pointer;
}
.heading-price h1{
    color: var(--dark-grayish-cyan-second);
}
@media screen and (max-width: 700px){
    .main-container{
        flex-direction: column;
    }
    input{
        width: 80%;
    }
    .bg-column{
        width: 80%;
    }
    .heading-price h1{
        font-size: 1.5em;
    }
    .bg-column button{
        margin-top:20%;
    }
}